// Custom Theme Variables
$primary-colour: #33032F;
$secondary-colour: #531253;
$accent-colour: #170312;


// $royal-purple: #6b21a8;
// $royal-purple-hover: #581c87;
// $dark-navy-purple: #0f081d;
// $accent-purple: #a855f7;
